.mainDiv {
  margin: 50px;
  width: 400px;
  height: 364px;
  background: #ffffff;
  box-shadow: 0px 4px 13px rgba(34, 34, 34, 0.15);
  border-radius: 20px;
}
.headerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendsDiv {
  padding: 0px 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.newFriends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 0;
  font-size: 14px;
  color: #567df4;
  opacity: 0.6;
}

.friendsNum {
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 22px;
  color: #567df4;
}

.friendsMiniDiv {
  text-align: center;
}

h3 {
  opacity: 0.6;
  margin-bottom: -10px;
}

.friendsNumbers {
  color: #222222;
}

.name {
  color: #222222;
  font-size: 22px;
  margin-top: 5px;
}

.location {
  margin-top: -20px;
  margin-bottom: 0px;
  color: #222222;
  display: flex;
  justify-content: center;
}

.locationsvg {
  margin-right: 3px;
}
.profileImage {
  border-radius: 50%;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.buttonImg {
  margin-right: 5px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
}

.msgWrapper {
  width: 52px;
  height: 52px;
  background: #eef2fe;
  border: 1px solid #567df4;
  border-radius: 9px;
  display: flex;
  justify-content: center;
}

.downButton {
  background: #59c891;
  border: none;
  border-radius: 9px;
  width: 264px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.upButton {
  background: #567df4;
  border: none;
  border-radius: 9px;
  width: 264px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.upButton:hover {
  background: #84a2ff;
}

.codeTogether {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  margin-right: -45px;
}

.downButton {
  background: #59c891;
  border: none;
  border-radius: 9px;
  width: 264px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upButton {
  background: #567df4;
  border: none;
  border-radius: 9px;
  width: 264px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upButton:hover {
  background: #84a2ff;
}
